[Desktop Entry]
Name=Ollama Tray
Comment=Control and manage Ollama models from your system tray
Exec=ollama-tray
Icon=icon
Type=Application
Categories=Utility;
StartupNotify=true
Version=1.0
