[Desktop Entry]
Name=Ollama Tray
Comment=Control and manage Ollama models from your system tray
Exec=ollama-tray
Icon=icon
Type=Application
Categories=Utility;AI;
StartupNotify=true
Version=0.3.0
